.preview {
    grid-template-columns: 20% 80%;
}
.preview #preview {
    height: 90vh;
}
.editor {
    grid-template-columns: 80% 20%;
}
.editor #editor {
    height: 90vh;
}
.editor #preview {
    height: 20vh;
}
.normal {
    grid-template-columns: 50% 50%;
}
.normal #editor {
    height: 40vh;
}
.normal #preview {
    height: 40vh;
}
.App {
    display: grid;
}